.cart{
  display:flex;
}
  
  .left{
    display : flex;
    flex-direction: column;
    border:solid 1px white;

  }
  .right{
    margin-left : 30px;
    width : 20vw;
    color: black;
    border:solid 1px white;
  }
  .prod{
    display: flex;
    justify-content: space-around;
  }
  
 