.cart {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  border: solid 1px white;
}
.right {
  margin-left: 30px;
  width: 20vw;
  color: black;
  border: solid 1px white;
}
.prod {
  display: flex;
  justify-content: space-evenly;
}

.prod_item {
  margin: 5px 10px;
}

td {
  padding: 10px;
  margin-right: 3%;
}

.pay {
  width: 90%;
  padding: 1rem 2rem;
  margin: 1rem 0.5rem;
  background-color: red;
  border: solid 1px black;
  font-size: 1.2rem;
}

.remove {
  padding: 0.5rem 0.8rem;
  border: solid 1px black;
  background-color: #350b40;
}
