.category {
  display: flex;
  /* margin-left: 10px; */
  justify-content: space-between;
}

.content-box{
    border: solid 1px white;
    margin: 0 auto;
    width: 50vw;
    padding : 2rem;
}

.category_btn {
  background-color: red;
  margin:0  15px;
  border-radius: 5px;
  border: solid 1px black;
  padding: 10px;
}

.add{
  border: solid 1px black;
  background-color: #fff;
  color: black;
  padding : 0.5rem 1.5rem;
  margin-top: 10px;
}

.cateBody{
  border : solid 1px white;
  padding : 20px;
}

@media screen and (max-width:413px){
  input{
    width: 200px;
  }
}
