.container {
  margin-top: 10vh;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.header {
  font-size: 3rem;
  margin: 10px auto;
}

.side_nav {
  /* width: 250px; */
  margin: 10px 0 10px 10px;
  /* padding: 20px; */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 1.3rem;
}
.right-box {
  width: 80vw;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}

a {
  display: flex;
  /* justify-content: center; */
  text-decoration: none;
}

.btn {
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  height: 30px;
  background-color: #222831;
}

.btn:hover {
  background-color: red;
  border: solid 0.5px black;
}

.card_image {
  width: 120px;
  /* border: solid 1px #ffd56b; */
}

.card {
  /* border: solid 1px #f05454; */
  padding: 25px;
  width: 220px;
}

.nav-menu {
  background-color: #222831;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.crossIcon {
  margin-left: 1rem;
  font-size: 2rem;
  background-color: #222831;
}
.hamIcon {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
  margin-top: -70px;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 2rem;
    width: 100px;
    margin: 10px auto;
  }

  .right-box {
    /* width: 200%; */
    margin: 30px auto;
    font-size: 1.1rem;
  }
}
