* {
  margin: 0;
  background-color: #111;
  color: #fff;
}

.row_title{
  margin-left: 20px;
}

.row {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row::-webkit-scrollbar {
  display: none;
}

.image {
  /* object-fit: contain; */
  width: 300px;
  height: 250px;
  margin-right: 10px;
  transition: transform 450ms;
}

.image:hover {
  transform: scale(1.08);
}

.banner {
  color: white;
  object-fit: contain;
  height: 448px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.banner_text {
  background-color: transparent;
  padding: 30px;
  font-size: 2rem ;
  color: white;
  width: 36%;
}
.banner_buttons{
  background-color: transparent;
}
.banner_button {
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 1rem 2rem; 
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner_button:hover {
  color: #000;
  background-color: #fff;
  transition: all 0.2s;
}
.btn_white{
  color: #000;
  background-color: #fff;
}
.btn_white:hover{
  background-color: #000;
  color: #fff;
}
.upper-banner {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
  background-color: transparent;
}

.lower-banner {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  background-color: transparent;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  /* animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black {
  background-color: #111;
  height: 60px;
}

.nav_logo {
  object-fit: contain;
  width: 150px;
  position: fixed;
  left: 20px;
  background-color: transparent;
}

.nav_avatar {
  object-fit: contain;
  width: 50px;
  position: fixed;
  right: 20px;
  margin-top: 5px;
}

.navUserInfo{
  display: flex;
  flex-direction: column;
  position:fixed;
  right:5px;
  margin-top: 60px;
  padding: 20px;
  /* height : 150px; */
  width: 200px;
  border : solid 1px white;
  border-radius: 10px;
}

.infobox_items{
  /* width: 100px; */
  font-size: 1rem;
  margin: 5px auto ;
  padding : 8px;
  text-decoration: none;
  border : solid 1px black;
  border-radius : 5px;
  background-color: red;
}

.infobox_items:hover{
  background-color: #fff;
  color: black;
}

.infobox_p{
  /* width: 100px; */
  font-size: 1.2rem;
  margin: 5px auto ;
  padding : 8px;
  text-decoration: none;
  border : solid 1px black;
  border-radius : 10px;
  /* background-color: red; */
}



@media only screen and (max-width:701px){
  .upper-banner{
    display: flex;
    align-items: center;
  }
  .banner_button{
    font-size: 16px;
    padding: 15px;
    margin-left: 15px;
  }

  .banner_text{
    margin-top: 35px;
    background-color: transparent;
    padding: 0px 20px 20px 0px;
    font-size: 1.5rem ;
    color: white;
    width: 36%;
  }

  .nav_avatar{
    object-fit: contain;
    width: 30px;
    position: fixed;
    right: 20px;
    margin-top: 5px;
  }
  .nav_logo {
    object-fit: contain;
    width: 150px;
    position: fixed;
    left: 0px;
    background-color: transparent;
  }
}