.container {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: center;
}

.header {
  font-size: 4rem;
  margin: 10px auto;
}

.left-box {
  /* background-color: #fff; */
  height: 250px;
  width: 20vw;
  margin: 100px 10px;
  padding: 20px;
  border: solid 2px whitesmoke;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.3rem;
}
.right-box {
  /* background-color: #fff; */
  height: 250px;
  width: 80vw;
  margin: 100px 10px;
  padding: 20px;
  border: solid 2px whitesmoke;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.btn {
  background-color: red;
  margin: 5px;
  border-radius: 10px;
  padding: 5%;
}

.btn:hover {
  background-color: #fff;
  color: black;
}

@media screen and (max-width: 768px) {
  .header{
    font-size: 3rem;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
  .left-box {
    margin: 10px auto;
    width: 70%;
  }
  .right-box{
    margin: 30px auto;
    width: 70%;
    font-size: 1.1rem;
  }
}
